body {
    background: linear-gradient(90deg, #fee1e9,#edd5e1,#aed0db);
}

h2 {
    font-family: 'Quintessential', cursive;
    font-size: 40px;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: large;
}

/* auth page */

#links {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

#auth_header {
    background-color: #ffffff;
}


.nav.nav-pills {
    margin-right: 50px;
}

#substrate {
    width: 400px;
    height: 500px;
    border-radius: 15px;
    background-color: #ffffff;
}

#forgot {
    text-decoration: none;
    color: black;
}

#email {
    margin-top: 15%;
}

#clicks {
    border-radius: 15px;
    margin-right: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 3px 15px;
    transition: .1s linear;
}

#clicks:hover {
    color: black;
    background-color: white;
}

.fields {
    width: 90%;
    padding: 15px 10px;
    border-radius: 5px;
}

/* end auth page */
/* main page */

#props_icon {
    display: block;
    min-width: 160px;
    text-align: center;
}

#props_text {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 33%;
}

svg {
    border: 2px solid #332509; 
    line-height: 10px; 
    border-radius: 100%; 
    margin: 20px 10px; 
    padding: 20px 20px;
    vertical-align: top;
}
#logo {
    border: 1px solid #332509; 
    line-height: 10px; 
    border-radius: 100%; 
    margin: 10px 10px; 
    padding: 15px 15px;
    vertical-align: top;
}

.intro {
    position: relative;
}

#img_car {
    width: 980px;
    height: 820px;
}



